	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page,#u132_align_to_page
	{
		max-width: 420px;
	}

	#u139
	{
		margin-top: 20px;
		width: 19.53%;
		left: 4.77%;
	}

	#u164-6
	{
		margin-top: 20px;
		width: 70.96%;
		left: 24.29%;
	}

	#u132,#u132-bw
	{
		min-height: 95px;
	}

	#u220-4
	{
		width: 90.48%;
		left: 4.77%;
	}

	#u200
	{
		width: 34.05%;
	}

	#u227-4
	{
		width: 77.63%;
		left: 16.09%;
	}

	#u236-4
	{
		width: 27.15%;
		left: 36.2%;
	}

	#u203
	{
		width: 35.24%;
		left: 64.77%;
	}

	#u245-4
	{
		width: 75%;
		left: 12.84%;
	}

	#u252
	{
		margin-top: 149px;
	}

	#u322
	{
		width: 13.58%;
		left: 4.77%;
	}

	#u261-4
	{
		width: 32.86%;
		left: 18.81%;
	}


