.version.vessel_login /* version checker */
{
	color: #000011;
	background-color: #D89F08;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	min-height: 500px;
	border-width: 0px;
	margin-left: auto;
	background-color: transparent;
	border-color: #000000;
	width: 100%;
	background-image: none;
	margin-right: auto;
	z-index: 1;
}

#u594
{
	min-height: 612px;
	z-index: 2;
	background-color: #4089AA;
}

#u594_align_to_page
{
	width: 100%;
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#u595
{
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: left top;
	z-index: 3;
	position: relative;
	background-size: contain;
}

#u596-4
{
	font-weight: 400;
	color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	z-index: 4;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-size: 30px;
	position: relative;
}

#u597-4
{
	font-weight: 300;
	color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	z-index: 8;
	min-height: 24px;
	line-height: 13px;
	font-family: roboto, sans-serif;
	font-size: 11px;
	position: relative;
}

#u598-4
{
	background-color: transparent;
	color: #FFFFFF;
	z-index: 12;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	position: relative;
}

#u594-bw
{
	min-height: 612px;
	z-index: 2;
}

#widgetu599
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	z-index: 16;
}

#widgetu608
{
	border-color: transparent;
	height: 39px;
	background-color: transparent;
	width: 265px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	z-index: 17;
}

#widgetu608.fld-err-st
{
	min-height: 0px;
	background-color: transparent;
	width: 265px;
	border-radius: 0px;
	height: 39px;
	margin: 0px -10000px 0px 0px;
}

#u610-4
{
	font-style: normal;
	padding: 6px;
	font-size: 19px;
	background-color: #F2F2F2;
	font-weight: 300;
	border-width: 0px;
	z-index: 18;
	min-height: 27px;
	line-height: 19px;
	font-family: roboto, sans-serif;
	border-color: transparent;
	width: 253px;
	color: #C4C4C4;
	position: relative;
	margin-right: -10000px;
}

#widgetu608_input,#widgetu608_prompt
{
	min-height: 27px;
	font-weight: 300;
	font-size: 19px;
	font-family: roboto, sans-serif;
	font-style: normal;
	width: 253px;
	color: #C4C4C4;
	padding: 6px;
}

#widgetu603
{
	border-color: transparent;
	margin-top: 42px;
	height: 39px;
	background-color: transparent;
	width: 265px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	z-index: 22;
}

#widgetu603.fld-err-st
{
	min-height: 0px;
	background-color: transparent;
	width: 265px;
	border-radius: 0px;
	height: 39px;
	margin: 42px -10000px 0px 0px;
}

#u605-4
{
	padding: 6px;
	font-size: 19px;
	background-color: #F2F2F2;
	font-weight: 300;
	border-width: 0px;
	z-index: 23;
	min-height: 27px;
	line-height: 19px;
	font-family: roboto, sans-serif;
	border-color: transparent;
	width: 253px;
	color: #C4C4C4;
	position: relative;
	margin-right: -10000px;
}

#widgetu608.non-empty-st #u610-4,#widgetu603.non-empty-st #u605-4
{
	background-color: #FFFFFF;
	border-width: 0px;
}

#widgetu608:hover #u610-4,#widgetu608.focus-st #u610-4,#widgetu603:hover #u605-4,#widgetu603.focus-st #u605-4
{
	padding-bottom: 6px;
	background-color: #FFFFFF;
	border-width: 1px;
	border-color: #6B6B6B;
	border-style: solid;
	padding-top: 6px;
	min-height: 27px;
	width: 253px;
	margin: -1px -10001px -1px -1px;
}

#widgetu608.non-empty-st #u610-4 *,#widgetu608:hover #u610-4 *,#widgetu608.focus-st #u610-4 *,#widgetu603.non-empty-st #u605-4 *,#widgetu603:hover #u605-4 *,#widgetu603.focus-st #u605-4 *
{
	font-style: normal;
	color: #7F7F7F;
}

#widgetu608.fld-err-st #u610-4,#widgetu603.fld-err-st #u605-4
{
	border-color: transparent;
	padding-bottom: 6px;
	padding-top: 6px;
	min-height: 27px;
	width: 253px;
	border-width: 0px;
	background-color: #FFFFFF;
	margin: 0px -10000px 0px 0px;
}

#widgetu608.fld-err-st #u610-4 *,#widgetu603.fld-err-st #u605-4 *
{
	font-style: normal;
	font-weight: bold;
	color: #F15A24;
}

#widgetu603_input,#widgetu603_prompt
{
	min-height: 27px;
	font-weight: 300;
	font-size: 19px;
	font-family: roboto, sans-serif;
	width: 253px;
	color: #C4C4C4;
	padding: 6px;
}

#widgetu608:hover #widgetu608_input,#widgetu608.focus-st #widgetu608_input,#widgetu608.fld-err-st #widgetu608_input,#widgetu608:hover #widgetu608_prompt,#widgetu608.focus-st #widgetu608_prompt,#widgetu608.fld-err-st #widgetu608_prompt,#widgetu603:hover #widgetu603_input,#widgetu603.focus-st #widgetu603_input,#widgetu603.fld-err-st #widgetu603_input,#widgetu603:hover #widgetu603_prompt,#widgetu603.focus-st #widgetu603_prompt,#widgetu603.fld-err-st #widgetu603_prompt
{
	padding-bottom: 6px;
	padding-top: 6px;
}

.js body,#widgetu608.non-empty-st #widgetu608_prompt,#widgetu603.non-empty-st #widgetu603_prompt
{
	visibility: hidden;
}

#u600-4
{
	opacity: 0;
	filter: alpha(opacity=0);
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 27;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	padding-top: 4px;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
}

#widgetu599.frm-sub-st #u600-4 p
{
	font-style: italic;
	line-height: 1;
	font-size: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u602-4
{
	color: #FF0000;
	position: relative;
	filter: alpha(opacity=0);
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 31;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	padding-top: 4px;
	font-size: 12px;
	opacity: 0;
	margin-right: -10000px;
}

#widgetu599.frm-subm-err-st #u602-4 p
{
	font-style: italic;
	line-height: 1;
	font-size: 14px;
	color: #D7244C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u607-3
{
	color: #00FF00;
	position: relative;
	filter: alpha(opacity=0);
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 35;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	padding-top: 4px;
	font-size: 12px;
	opacity: 0;
	margin-right: -10000px;
}

#widgetu599.frm-sub-st #u600-4,#widgetu599.frm-subm-err-st #u602-4,#widgetu599.frm-subm-ok-st #u607-3
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	filter: alpha(opacity=100);
}

#widgetu599.frm-subm-ok-st #u607-3 p
{
	font-style: italic;
	font-size: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u601-17
{
	min-height: 44px;
	margin-top: 156px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 0px;
	width: 266px;
	position: relative;
	margin-right: -10000px;
	z-index: 38;
}

#u601-17:hover,#u601-17:active,#widgetu599.frm-sub-st #u601-17
{
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-color: transparent;
}

#buttonu612
{
	border-color: #787878;
	padding-bottom: 7px;
	background-color: #327798;
	position: relative;
	z-index: 55;
}

#buttonu612:hover
{
	min-height: 0px;
	margin-bottom: 0px;
	background-color: #545454;
	margin-left: 0%;
}

#buttonu612.ButtonSelected
{
	min-height: 0px;
	margin-bottom: 0px;
	background-color: #327798;
	margin-left: 0%;
}

#u613-4
{
	font-weight: 300;
	color: #FFFFFF;
	background-color: transparent;
	margin-top: 10px;
	text-align: center;
	z-index: 56;
	min-height: 23px;
	line-height: 25px;
	font-family: roboto, sans-serif;
	font-size: 21px;
	position: relative;
	letter-spacing: 0px;
	margin-right: -10000px;
}

#buttonu612:hover #u613-4 p
{
	visibility: inherit;
	color: #FFFFFF;
}

#buttonu612:hover #u613-4,#buttonu612.ButtonSelected #u613-4
{
	min-height: 23px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 10px -10000px 0px 0%;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 362px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#u594_position_content
	{
		padding-top: 172px;
		padding-bottom: 97px;
		width: 100%;
	}

	#u596-4
	{
		min-height: 39px;
		width: 53.62%;
		left: -21.49%;
	}

	#u597-4
	{
		top: -4px;
		margin-bottom: -4px;
		width: 61.14%;
		left: -19.73%;
	}

	#buttonu612
	{
		margin-top: 240px;
		width: 73.93%;
		left: -21.49%;
	}

	#buttonu612:hover
	{
		margin-right: 0px;
		margin-top: 240px;
		width: 73.93%;
	}

	#buttonu612.ButtonSelected
	{
		margin-right: 0px;
		margin-top: 240px;
		width: 73.93%;
	}

	#u613-4
	{
		width: 44.65%;
		left: 27.75%;
	}

	#buttonu612:hover #u613-4
	{
		width: 44.65%;
	}

	#buttonu612.ButtonSelected #u613-4
	{
		width: 44.65%;
	}

	#u594-bw
	{
		margin-top: 40px;
	}

	#u595
	{
		height: 62px;
		background-image: url("../images/projsuf_logo-u114-fr.png");
		margin-right: -10000px;
		margin-top: 101px;
		width: 18.07%;
		left: -14.36%;
	}

	#u598-4
	{
		min-height: 11px;
		margin-right: -10000px;
		margin-top: 562px;
		width: 18.07%;
		left: -13.19%;
	}

	#widgetu599
	{
		height: 245px;
		margin-top: 256px;
		left: -21.49%;
	}

	#widgetu608
	{
		left: 1px;
	}

	#u600-4
	{
		width: 200px;
		min-height: 21px;
		margin-top: 220px;
		left: 153px;
	}

	#u602-4
	{
		width: 200px;
		min-height: 21px;
		margin-top: 220px;
		left: 153px;
	}

	#u607-3
	{
		width: 200px;
		min-height: 21px;
		margin-top: 220px;
		left: 153px;
	}

	#widgetu599.frm-sub-st #u600-4,#widgetu599.frm-subm-err-st #u602-4,#widgetu599.frm-subm-ok-st #u607-3
	{
		min-height: 25px;
	}

	#u601-17
	{
		background-image: url("../images/u601-17.png");
	}

	#u601-17:hover
	{
		background-image: url("../images/u601-17-r.png");
	}

	#u601-17:active
	{
		background-image: url("../images/u601-17-m.png");
	}

	#widgetu599.frm-sub-st #u601-17
	{
		background-image: url("../images/u601-17-fs.png");
	}

}

@media (max-width: 361px)
{
	#muse_css_mq
	{
		background-color: #000169;
	}

	#bp_361.active
	{
		display: block;
	}

	#page
	{
		max-width: 361px;
	}

	#u594_align_to_page
	{
		padding-top: 62px;
		padding-bottom: 69px;
	}

	#u595
	{
		height: 95px;
		background-image: url("../images/projsuf_logo.png");
		width: 33.25%;
		left: 36.02%;
	}

	#u596-4
	{
		min-height: 41px;
		margin-top: 15px;
		width: 73.41%;
		left: 15.79%;
	}

	#u597-4
	{
		top: -6px;
		margin-bottom: -6px;
		width: 60.95%;
		left: 20.78%;
	}

	#u598-4
	{
		min-height: 20px;
		margin-top: 290px;
		width: 27.43%;
		left: 39.34%;
	}

	#u594-bw
	{
		margin-top: -6px;
	}

	#widgetu599
	{
		height: 207px;
		margin-top: 264px;
		left: 13.3%;
	}

	#widgetu603
	{
		left: 1px;
	}

	#u600-4
	{
		width: 28px;
		min-height: 70px;
		margin-top: 76px;
	}

	#widgetu599.frm-sub-st #u600-4
	{
		min-height: 74px;
	}

	#u602-4
	{
		width: 28px;
		min-height: 126px;
		margin-top: 76px;
	}

	#widgetu599.frm-subm-err-st #u602-4
	{
		min-height: 130px;
	}

	#u607-3
	{
		width: 28px;
		min-height: 12px;
		margin-top: 76px;
	}

	#widgetu599.frm-subm-ok-st #u607-3
	{
		min-height: 16px;
	}

	#u601-17
	{
		background-image: url("../images/u601-172.png");
	}

	#u601-17:hover
	{
		background-image: url("../images/u601-17-r2.png");
	}

	#u601-17:active
	{
		background-image: url("../images/u601-17-m2.png");
	}

	#widgetu599.frm-sub-st #u601-17
	{
		background-image: url("../images/u601-17-fs2.png");
	}

	#buttonu612
	{
		margin-right: -10000px;
		margin-top: 466px;
		width: 73.69%;
		left: 13.02%;
	}

	#buttonu612:hover
	{
		margin-right: -10000px;
		margin-top: 466px;
		width: 73.69%;
	}

	#buttonu612.ButtonSelected
	{
		margin-right: -10000px;
		margin-top: 466px;
		width: 73.69%;
	}

	#u613-4
	{
		width: 44.74%;
		left: 27.82%;
	}

	#buttonu612:hover #u613-4
	{
		width: 44.74%;
	}

	#buttonu612.ButtonSelected #u613-4
	{
		width: 44.74%;
	}

	body
	{
		min-width: 320px;
	}

}

